/* Header Design  */

.header-wrapper {
    width: 100%;
    z-index: 1000;
    /* background: white !important; */
    background: #2b323c !important;
    position: fixed;
    display: flex;
    box-shadow: 0 4px 6px #25000023;
    padding: 0 7%;
    gap: 0.2rem;
    /* border: solid red; */
}

.header-wrapper .menus{
    /* display: flex; */
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 7%;
    /* border: solid blue; */
    display: none;
}

.header-wrapper .menus::after{
    content: '';
    position: absolute;
    bottom: 11px;
    width: 25%;
    height: 2px;
    background: rgba(145, 138, 138, 0.541);
}

.header-wrapper .menus a{
    text-decoration: none;
    color: var(--dark-blue);
    font-family: "HanumanBold";
    padding: 0 5px;
    /* border: solid; */
}
.header-wrapper .menus a:hover{
    color: var(--red-orange);
}

.header-wrapper .logo{
    width: 55px;
    height: auto;
}

.header-wrapper .logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.button-wrapper{
    align-self: center;
    right: 7%;
    position: absolute;
}

/* Menu Button  */
.menu-btn {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    font-size: 22px;
    font-weight: bolder;
    color: var(--dark-blue);
    background: var(--red-orange);
}

@media (min-width: 768px) {
    .header-wrapper .menus{
        display: flex;
    }

    .button-wrapper{
        display: none;
    }
}