<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/shared/header.css">
    <base href="/samsec/">
</head>
<body>
    <div class="header-wrapper">
        <div class="menus">
            <a href="http://">Academy</a>
            <a href="http://">Guides</a>
            <!-- <a href="http://">Journal</a> -->
             <a href="../index.html">Home</a>
        </div>
        <div class="logo"><img src="../assets/logo/logo.svg" alt=""></div>
        <div class="menus">
            <a href="../pages/writeups.html">Writeups</a>
            <a href="http://">Snippets</a>
            <a href="http://">Projects</a>
        </div>

        <div class="button-wrapper">
            <button class="menu-btn" id="menuBtn">
                <span class="menu-icon">⋮</span>
                <span class="close-icon" style="display:none;rotate:90deg">⋮</span>
            </button>
        </div>
    </div>
    
</body>
</html>
