<div class="header-wrapper">
    <div class="menus">
        <a href="http://">Academy</a>
        <a href="http://">Guides</a>
        <a href="../index.html">Home</a>
    </div>
    <div class="logo">
        <img src="../assets/logo/modified_logo.png" alt="Website Logo">
    </div>
    <div class="menus">
        <a href="../pages/writeups.html">Writeups</a>
        <a href="http://">Snippets</a>
        <a href="http://">Project</a>
    </div>

    <div class="button-wrapper">
        <button class="menu-btn" id="menuBtn">
            <span class="menu-icon">⋮</span>
            <span class="close-icon" style="display:none;rotate:90deg">⋮</span>
        </button>
    </div>
</div>